
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demitaja</title>
</head>
<h4>Specify city and/or technology for more specific information</h4>
<body>
  <form>
    <label for="req-tech">Technology</label><br>
    <input type="text" id="req-tech" name="req_tech" value="{{ req_tech }}" size="50"><br><br>
    <label for="req-city">City</label><br>
    <input type="text" id="req-city" name="req_city" value="{{ req_city }}" size="50"><br><br>
    <input type="submit" value="Submit">
  </form>
  <h4>Total number of postings: {{ total_postings }} </h4>
  <h4>Data collected from {{ oldest }} to {{ newest }} </h4>
  <h4>Most in-demand technologies</h4>
  <ul>
    {% for tech in techs %}
      <li>{{ tech[0] }} : {{ tech[1] }}</li>
    {% endfor %}
  </ul>
  <h4>Cities with most job postings</h4>
  <ul>
    {% for city in cities %}
      <li>{{ city[0] }} : {{ city[1] }}</li>
    {% endfor %}
  </ul>
  {% if req_city %}
  <h4>Number of job postings in {{ req_city }} : {{ city[1] }} </h4>
  <h4>Technologies most in-demand in {{ req_city }} </h4>
  <ul>
    {% for tech in techs_city %}
      <li>{{ tech[0] }} : {{ tech[2] }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if req_tech %}
  <h4>Demand for {{ req_tech }} : {{ tech[1] }} </h4>
  <h4>Cities with most job postings requiring {{ req_tech }} </h4>
  <ul>
    {% for city in cities_tech %}
      <li>{{ city[0] }} : {{ city[2] }}</li>
    {% endfor %}
  </ul>
  <h4>Technologies most often required in postings requiring {{ req_tech }} ({{ tech[1] }})</h4>
  <ul>
    {% for tech in techs_tech %}
      <li>{{ tech[0] }} : {{ tech[2] }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if req_city and req_tech %}
  <h4>Demand for {{ req_tech }} in {{ req_city }} : {{ tech_city[2] }}</h4>
  <h4>Technologies most often required in postings requiring {{ req_tech }} in {{ req_city }} ({{ tech_city[2] }})</h4>
  <ul>
    {% for tech in techs_tech_city %}
      <li>{{ tech[0] }} : {{ tech[3] }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>
